* {
margin:0;
padding:0;
}

body {
    height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}

.body-content{
    display: flex;
    flex-direction: column;
    gap: 64px;
    
    
}

header {
    display: flex;
    background-color: cadetblue;
}
h1 {
    padding: 16px;
}
ul {
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 6px;
    padding: 16px;  

}

.first-div {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.left-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 0 1 auto;
}

.left-content button {

}

.second-div {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.second-div .card {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.second-div h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.card-div {
    display: flex;
    gap: 16px;
}

.third-div {
    display: flex;
    justify-content: center;
}

.forth-div {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    /* border: 1px solid black; */
}

footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: cadetblue;
}